.header{
  padding: 0 60px;
  &__inner{
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding-top: 15px;
    .header-main{
      position: relative;
      display: flex;
      align-items: center;
      .logo-furima{
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
        &__link{
          width: 140px;
          display: block;
          .logo-furima-image{
            width:  100%;
            vertical-align: bottom;
          }
        }
      }
      .search-box{
        margin-left: auto;
        width: 100%;
        display: flex;
        margin-bottom: 5px;
        .search-box__form{
          width: calc( 100% - 26px );
          height: 36px;
          padding-left: 5px;
        }
        &__btn{
          width: 36px;
          border: 0;
          cursor: pointer;
          background-color: #3ccace;
          padding: 8px;
          .search-box-icon{
            &-image{
              width: 100%;
              vertical-align: bottom;
            }
          }
        }
      }
    }
    .header-nav{
      font-size: 14px;
      display: flex;
      box-sizing: border-box;
      .category__child, .category__parent, .category__grandchild{
        display: none;
      }

      .category__list{
        min-height: 480px;
        position: absolute;
        width: 240px;
        top: 40px;
        background-color: white;
        z-index: 30;
        padding-right: 30px;
      }

      .category__child--name{
        width: 100%;
        display: inline-block;
        font-size: 13px;
        letter-spacing: 2px;
        color: #333;
        text-decoration: none;
        line-height: 32px;
        background-position: center right;
        background-repeat: no-repeat;
        background-size: 18px;
        padding-right: 30px;
        border-bottom: 1px solid #f8f8f8;
      
      }

      .categories{
        padding-bottom: 10px;
        box-sizing: border-box;
        &:hover{
          .category__parent{
            top: 40px;
            display: block;
            &--name{
              width: 100%;
              display: inline-block;
              font-size: 13px;
              letter-spacing: 2px;
              color: #333;
              text-decoration: none;
              line-height: 32px;
              background-position: center right;
              background-repeat: no-repeat;
              background-size: 18px;
              padding-right: 30px;
              border-bottom: 1px solid #f8f8f8;
            }
            li {
              &:hover{
                .category__child{
                  width: 100%;
                  display: block;
                  top: 0;
                  left: 270px;
                  li {
                    &:hover{
                      .category__grandchild{
                        width: 100%;
                        display: block;
                        top: 0;
                        left: 300px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      

      .list-left{
        position: relative;
        display: flex;
        &__category {
          .category-link{
            text-decoration: none;
            color: black;
            line-height: 32px;
            background-position: center right;
            background-repeat: no-repeat;
            background-size: 18px;
            padding-right: 30px;
          }
        //   &__parents{
        //     z-index: 2;
        //     position: absolute;
        //     background-color: #fff;
        //     width: 240px;
        //     top: 40px;
        //     // display: none;
        //     a{
        //       color: #333;
        //       text-decoration: none;
        //       line-height: 32px;
        //       background-position: center right;
        //       background-repeat: no-repeat;
        //       background-size: 18px;
        //       padding-right: 30px;
        //     }
        //     .category__child.category__list{
        //       min-height: 480px;
        //       background-color: #fff;
        //       display: flex;
        //       flex-direction: column;
        //       position: absolute;
        //       top: 0;
        //       left: 240px;
        //       width: 240px;
        //     }
        //     .category__grandchild.category__list{
        //       min-height: 480px;
        //       background-color: #fff;
        //       display: flex;
        //       flex-direction: column;
        //       position: absolute;
        //       top: 0;
        //       left: 240px;
        //       width: 240px;
            }
        //   }
        // }
        &__brand{
          line-height: 32px;
          display: flex;
          padding-left: 16px;
          .brand-link{
            text-decoration: none;
            color: black;
            line-height: 32px;
            background-position: center right;
            background-repeat: no-repeat;
            background-size: 18px;
            padding-right: 30px;
          }
        }
      }
      .list-right{
        margin-left: auto;
        display: flex;
        &__sign-in{
          color: #333333;
          line-height: 38px;
          padding-bottom: 16px;
          &-link{
            display: flex;
            align-items: center;
            color: black;
            text-decoration: none;
            line-height: 32px;
          }
        }
        &__new-registration{
          color: #333333;
          line-height: 38px;
          padding-bottom: 16px;
          &-link{
            display: flex;
            align-items: center;
            color: black;
            text-decoration: none;
            line-height: 32px;
            padding-left: 16px;
          }
        }
      }
    }
  }
}
