.nav-category{
  width: 100%;
  border-top: 1px solid #eeeeee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 0 60px;
  box-sizing: border-box;
  &__lists{
    padding: 17px 0 35px;
    width: 100%;
    max-width: 1040px;
    font-size: 14px;
    margin: 0 auto;
    .category-list{
      padding-right: 10px;
      float: left;
      .list-link{
        text-decoration: none;
        color: #333333;
      }
    }
    .category-list-product{
      padding-right: 10px;
      float: left;
      font-weight: bold;
    }
  }
}

.main{
  background-color: #f8f8f8;
  .show-main{
    padding: 40px;
    margin: 0 auto;
    height: 100%;
    overflow: scroll;
    &__product-show{
      background-color: #ffffff;
      padding: 40px;
      width: 620px;
      margin: 0 auto;
      .product-name{
        text-align: center;
        font-weight: bold;
        font-size: 24px;
      }
      .product-image{
        margin-top: 16px;
        .image-main{
          overflow: hidden;
          width: 480px;
          height: 360px;
          margin: auto;
          position: relative;
          .products-box_photo__sold{
            width: 0;
            height: 0;
            border-width: 120px 120px 0 0;
            border-color: #CE403C transparent transparent transparent;
            border-style: solid;
            display: block;
            position: absolute;
            z-index: 1;
            &__inner{
              top: -90px;
              font-size: 30px;
              position: absolute;
              left: 0;
              z-index: 2;
              color: #ffffff;
              transform: rotate(-45deg);
              letter-spacing: 2px;
              font-weight: 600;
            }
          }
          .image-main-tag{
            width: 480px;
            height: 360px;
            .product-image-tag{
              width: 100%;
              height: 100%;
            }
            .product-image-tag-furima{
              width: 60%;
              height: 30%;
              margin: 60px;
            }
          }
          .image-main-tag.show{
            width: 480px;
            height: 360px;
            .product-image-tag{
              width: 100%;
              height: 100%;
            }
          }
          .image-main-tag.not-show{
            display: none;
          }
        }
        .image_box{
          .image-sub{
            display: flex;
            justify-content: center;
            margin-top: 10px;
            position: relative;
            .image-sub-list{
              margin-right: 10px;
              margin-top: 10px;
              .product-image-list{
                height: 87px;
                width: 110px;
              }
            }
            .image-sub-list.active{
              opacity: 0.5;
            }
          }
        }
      }
      .product-price{
        margin: 24px 0 24px;
        text-align: center;
        display: flex;
        flex-direction: column;
        .price{
          font-size: 46px;
          font-weight: bold;
          margin-right: 10px;
          .tax{
            font-size: 16px;
          }
        }
        .shipping-fee{
          font-size: 16px;
        }
      }
      .product-content{
        line-height: 1.5;
        font-size: 18px;
        margin-bottom: 30px;
      }
      .product-detail{
        width: 100%;
        height: 375px;
        border-collapse: collapse;
        border: 1px solid #f8f8f8;
        margin-bottom: 20px;
        &__body{
          display: table-row-group;
          vertical-align: middle;
          border-color: inherit;
          a{
            text-decoration: none;
            color: #3CCACE;
          }
          .detail-record{
            display: table-row;
            vertical-align: inherit;
            border-color: inherit;
            .detail-left{
              width: 20%;
              background-color: #eeeeee;
              font-weight: 400;
              padding: 8px;
              border: 1px solid #dedede;
              font-size: 14px;
              text-align: center;
            }
            .detail-right{
              width: 61%;
              padding: 15px;
              border: 1px solid #dedede;
              font-size: 14px;
            }
          }
        }
      }
      .product-option{
        display: flex;
        justify-content: space-between;

        .item-button-container{
          display: flex;
          align-items: flex-end;
          padding-left: 15px;

          .item-button-container__left{
            .item-button-container__left__show{
              background-color:  #eeeeee;
              padding: 10px 10px;
              border-radius: 20px;
              a{
                text-decoration: none;
              }
              i{
                color: black;
              }
              span{
                color: black;
                font-weight:bold;
              }
            }
          }
        }
        &__report{
          margin-top: 10px;
          display: flex;
          .option-report{
            font-size: 14px;
            &__link{
              padding: 6px 10px;
              display: inline-block;
              border-radius: 4px;
              color: #333333;
              border: 1px solid #333333;
              text-decoration: none;
            }
          }
        }
      }
    }
    &__editDeleteBuy{
      padding: 20px;
      margin: 0 auto;
      text-align: center;
      width: 620px;
      display: flex;
      flex-direction: column;
      .editDeleteBuy__btn{
        .edit-product-btn, .delete-product-btn, .buy-product-btn{
          margin: 25px 0;
          a{
            line-height: 48px;
            background: #3ccace;
            border: 1px solid #3ccace;
            color: #fff;
            width: 60%;
            font-size: 18px;
            border-radius: 100px;
            text-decoration: none;
            text-align: center;
            margin: 20px auto;
            padding: 15px 122px;
          }
        }
        .disabled-product-btn{
          a, .disabled_btn{
            line-height: 48px;
            background: #888888;
            border: 1px solid #888888;
            color: #fff;
            width: 60%;
            font-size: 18px;
            border-radius: 100px;
            text-decoration: none;
            text-align: center;
            margin: 20px auto;
            cursor: not-allowed;
            padding: 15px 122px;
          }
        }
      }
    }
    &__comment-show{
      padding: 40px;
      background-color: #ffffff;
      margin: 10px auto;
      text-align: center;
      width: 620px;
      .comment-form{
        &__input{
          width: 100%;
          min-height: 104px;
          max-height: 300px;
          padding: 10px;
          margin-bottom: 10px;
          overflow: scroll;
          .comment__box{
            display: flex;
            .comment__user-name{
              background-color: #ffffff;
              margin: auto;
              color: #272727;
              width: 20%;
              font-size: 16px;
              padding: 5px;
              overflow-wrap: break-word;
              .saler_display{
                font-size: 12px;
                color: #888888;
              }
            }
            .comment__content{
              background-color: #ffcaf2;
              margin: 5px;
              color: #272727;
              width: 80%;
              font-size: 14px;
              border-radius: 6px;
              position: relative;
              display: inline-block;
              padding: 7px 10px;
              min-width: 120px;
              max-width: 100%;
              font-size: 16px;
              .comment__create-at{
                font-size: 12px;
                color: #888888;
                text-align: left;
              }
              .comment__text{
                font-size: 14px;
                text-align: left;
                overflow-wrap: break-word;
              }
              .comment__pre-delete, .comment__restore, .comment__complete-delete{
                text-align: right;
                margin-top: 5px;
                a {
                  background: #ffffff;
                  border: 1px solid #ffb340;
                  color: #3ccace;
                  font-size: 14px;
                  border-radius: 12px;
                  padding: 3px 10px;
                  text-decoration: none;
                }
              }
            }
            .comment__content:before{
              content: "";
              position: absolute;
              top: 50%;
              left: 100%;
              margin-top: -15px;
              border: 15px solid transparent;
              border-left: 15px solid #ffcaf2;
            }
          }
          #comment-mine{
            display: flex;
            .comment__user-name{
              margin: auto;
              color: #272727;
              width: 20%;
              font-size: 16px;
              padding: 5px;
              overflow-wrap: break-word;
              justify-content: center;

              .saler_display{
                font-size: 12px;
                color: #888888;
              }
            }
            .comment__content{
              background-color:#9de4e6;
              color: #272727;
              width: 80%;
              font-size: 14px;
              border-radius: 6px;
              position: relative;
              display: inline-block;
              margin: 5px;
              padding: 7px 10px;
              min-width: 120px;
              max-width: 100%;
              font-size: 16px;
              .comment__create-at{
                font-size: 12px;
                color: #888888;
                text-align: left;
              }
              .comment__text{
                font-size: 14px;
                text-align: left;
                overflow-wrap: break-word;
              }
              .comment__pre-delete, .comment__restore, .comment__complete-delete{
                text-align: right;
                margin-top: 5px;
                a {
                  background: #ffffff;
                  border: 1px solid #ffb340;
                  color: #3ccace;
                  font-size: 14px;
                  border-radius: 12px;
                  padding: 3px 10px;
                  text-decoration: none;
                }
              }
            }
            .comment__content:before{
              content:"";
              position: absolute;
              top: 50%;
              left: -30px;
              margin-top: -15px;
              border: 15px solid transparent;
              border-right: 15px solid #9de4e6;
            }
          }
        }
        &__notice{
          padding: 8px;
          font-size: 14px;
          background-color: #f8f8f8;
          margin: 10px 0;
          text-align: left;
        }
        &__btn{
          line-height: 48px;
          background: #3ccace;
          border: 1px solid #3ccace;
          color: #ffffff;
          width: 60%;
          font-size: 18px;
          border-radius: 100px;
          .fa-comment{
            display: inline;
            font-size: inherit;
            text-rendering: auto;
          }
        }
        &__btn-disabled, .comment-form__not-comment{
          line-height: 48px;
          background: #888888;
          border: 1px solid #888888;
          color: #ffffff;
          width: 60%;
          font-size: 18px;
          border-radius: 100px;
          cursor: not-allowed;
          .fa-comment{
            display: inline;
            font-size: inherit;
            text-rendering: auto;
          }
        }
        .comment-form__body{
          width: 100%;
          min-height: 104px;
          padding: 10px;
        }
      }
    }
    &__links{
      width: 620px;
      padding: 0 40px 20px;
      margin: 0 auto;
      .links-list{
        li{
          .previous-page{
            float: left;
            text-decoration: none;
            color: #3ccace;
          }
          .next-page{
            float: right;
            text-decoration: none;
            color: #3ccace;
          }
        }
      }
    }
    &__related-items{
      width: 620px;
      padding: 0 40px 20px;
      margin: 0 auto;
      .related-items-link{
        display: block;
        margin: 24px 0 8px;
        color: #3ccace;
        text-decoration: none;
        font-weight: bold;
        font-size: 22px;
        position: relative;
      }
      .related-items-list{
        overflow: scroll;
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        .pickupCategory-list__list{
          background-color: #fff;
          margin: 0 5px;
          width: 200px;
          position: relative;
          a{
            text-decoration: none;
            .pickupCategory-list-tag__sold{
              width: 0;
              height: 0;
              border-width: 80px 80px 0 0;
              border-color: #CE403C transparent transparent transparent;
              display: block;
              position: absolute;
              z-index: 1;
              border-style: solid;
              &__inner{
                top: -60px;
                font-size: 20px;
                position: absolute;
                left: 0;
                z-index: 2;
                color: #fff;
                transform: rotate(-45deg);
                letter-spacing: 2px;
                font-weight: 600;
              }
            }
            .pickupCategory-list-image{
              width: 100%;
              height: 150px;
            }
            .pickupCategory-list-image-furima{
              width: 220px;
              height: 150px;
              .furima-logo-category{
                height: 30%;
                width: 60%;
                margin: 40px;
              }
            }
            .pickupCategory-list-body{
              background-color: white;
              color: #333;
              padding: 16px;
              .pickupCategory-list-name{
                overflow: hidden;
                line-height: 1.5;
                font-size: 16px;
                text-align: left;
              }
              .pickupCategory-list-evaluation{
                font-size: 16px;
                ul{
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  .fa{
                    display: inline-block;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                  }
                }
                p{
                  font-size: 10px;
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }
}