#新規登録ボタン
=link_to user_twitter_omniauth_authorize_path, method: :post, class: "btn-def--twitter" do
 %i.fab.fa-twitter
 %span<>
 Twitterで登録する

#ログインボタン
= link_to user_twitter_omniauth_authorize_path, method: :post, class: "btn-def--twitter" do
 %i.fab.fa-twitter
 %span<>
 Twitterでログイン 