.header
  = render 'products/header'

.MyPage
  = render 'mypage-side'
  .MyPage__main
    .MyPage__content
      = image_tag "logo.png", class:"MyPage__logo"
    
.footer
  = render 'products/footer'