.Purchase-footer
  .Purchase-footer-top
    .Purchase-footer-top-privacy 
    = link_to "https://www.facebook.com/", class: "top-privacy-tag" do
      プライバシーポリシー
    .Purchase-footer-top-contract
    = link_to "", class: "top-contract-tag" do
      メルカリ利用規約
    .Purchase-footer-top-notation
    = link_to "", class: "top-notation-tag" do
      特定商取引に関する表記

  .Purchase-footer-under
    .Purchase-footer-under-image
    = link_to image_tag("/assets/logo/logo-white.png", width:'200', alt: "FURIMALOGO", class: "footer-logo-image"), "#"
    .Purchase-footer-under-lnc © Furima, Inc.