.index-header
  = render "Purchase-header"

.destoroy
  .destoroy__frame
    .destoroy__frame__message
      削除が完了しました。
    .destoroy__frame__btns
      .credit_card_new_link
        = link_to "クレジットカード新規登録", card_new_path(current_user), class: "credit_card_new_link__btn"
      .my_page_link
        = link_to "マイページに戻る", user_path(current_user), class: "my_page_link__btn"

.index-footer
  = render "Purchase-footer"