.appBanner-content
  .appBanner-content__title だれでもかんたん、人生を変えるフリマアプリ
  .appBanner-content__text 今すぐ無料ダウンロード！
  .appBanner-content__icons
    = link_to image_tag("app-store.svg", alt: "app-store", class: "icon"), "#"
    = link_to image_tag("google-play.svg", alt: "google-play", class: "icon"), "#"