.appBanner-content
  .appBanner-content__title だれでもかんたん、人生を変えるフリマアプリ
  .appBanner-content__text 今すぐ無料ダウンロード！
  .appBanner-content__icons
    = link_to image_tag("Download_on_the_App_Store_Badge_JP_blk_100317.eps", alt: "app-store", class: "icon"), "#"
    = link_to image_tag("google-play-badge.png", alt: "google-play", class: "icon"), "#"