%ul.nav-category__lists
  %li.category-list
    =link_to "/",class:"list-link" do
      FURIMA
  %li.category-list
    =icon("fas","angle-right")
  %li.category-list
    =link_to "#",class:"list-link" do
      ベビー・キッズ
  %li.category-list
    =icon("fas","angle-right")
  %li.category-list
    =link_to "#",class:"list-link" do
      ベビー服(男女兼用) ~95cm
  %li.category-list
    =icon("fas","angle-right")
  %li.category-list
    =link_to "#",class:"list-link" do
      アウター
  %li.category-list
    =icon("fas","angle-right")
  %li.category-list
    =link_to "#", class:"list-link" do
      product 3