%ul.contents
  %li.content
    %h2.content__head
      FURIMAについて
    %ul.content__lists
      %li.content-list
        =link_to "#", class:"content-link" do
          会社概要(運営会社)
      %li.content-list
        =link_to "#", class:"content-link" do
          プライバシーポリシー
      %li.content-list
        =link_to "#", class:"content-link" do
          FURIMA運用企画
      %li.content-list
        =link_to "#", class:"content-link" do
          ポイントに関する特約
  %li.content
    %h2.content__head
      FURIMAを見る
    %ul.content__lists
      %li.content-list
        =link_to "#", class:"content-link" do
          カテゴリー一覧
      %li.content-list
        =link_to "#", class:"content-link" do
          ブランド一覧
  %li.content
    %h2.content__head
      ヘルプ & ガイド
    %ul.content__lists
      %li.content-list
        =link_to "#", class:"content-link" do
          FURIMAガイド
      %li.content-list
        =link_to "#", class:"content-link" do
          FURIMAロゴ利用ガイドライン
      %li.content-list
        =link_to "#", class:"content-link" do
          お知らせ
.footer__logo
  =link_to "#", class:"footer__logo-link" do
    =image_tag "logo-white.png", class:"footer-image"
  %p.furima-c © FURIMA